# Dependencies
node_modules/
dist/

# Environment variables
.env
.env.local
.env.example
./backend/.env.example

# Logs
logs
*.log
npm-debug.log*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
